@mixin font_title($color, $font-size, $font-weight, $line-height) {
    color: $color;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: $line-height;
    text-transform: uppercase;
}
@mixin font_text($color, $font-size, $font-weight, $line-height) {
    color: $color;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: $line-height;
}
@mixin font_text_italic($font-size, $font-weight, $line-height) {
    color: $the_lightest;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: $line-height;
    font-style: italic;
}

