.people-say_container {
    background-image: url(../img/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}
.people-say_wrapper {
  padding: 0 20px;  
  max-width: 1220px;
  margin: 0 auto;
}
.people-say__title {
    @include font_text($the_lightest, 36px, 700, 48px);
    padding-top: 57px;
    text-align: center;
}
.people-say_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    gap: 41px;
    padding-top: 53px;
}
.people-say__item{
   text-align: center; 
   display: flex;
   flex-direction: column;
    .people-say_img-wrapper {
        min-height: 24px;
        flex: 0 0 64px;
    }
   
   
}
.people-say__text{
    @include font_text_italic(16px, 700, 24px);
    padding-top: 13px;
}
.people-say__after-text {
    @include font_text(#A291A5, 14px, 400, 21px);
    text-align: center;
    padding-bottom: 22px;
    position: relative;
    padding-top: 37px;
    &::after {
        content: '';
        border: 1px solid #645766;
        background-color: #645766;
        width: 80%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);

    }
}
@media (min-width:481px) {
    .people-say_grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }
}
@media (min-width:993px) {
    .people-say_grid {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        }
}