.pricing__section{
    background: url('../img/pricing_bg.png');
    padding-bottom: 100px;
    height: 100%;
}
.pricing__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
.pricing__title{
    margin-top: 84px;
    color: $the_lightest;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}
.pricing__tarifs{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
    column-gap: 15px;
}
.tarifs__card {
    width: 258px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, .06);


}
@media (max-width:992px) {
    .pricing__tarifs {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 300px 258px;
    
    column-gap: 25px;
    row-gap: 30px;
    }
    .tarifs__card{
        flex: 1;
            &:first-child {
        justify-self: end;
    }
    }
}
@media (max-width:480px) {
    .pricing__tarifs {
        grid-template-columns: repeat(1, minmax(300px, auto));
        row-gap: 18px;
    }
    .tarifs__card {
        justify-self: center;
        &:first-child {
            justify-self: center;
        }
    }
}
.tarifs__card--active{
    width: 300px;
    justify-self: end;
    background-color: rgba(70, 48, 72, 1);
}
.tarifs__card_title{
    background-color: rgba(255, 255, 255, .11);
    padding: 36px 0;
    width: 100%;
    color: $the_lightest;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;

    &--active{
        background-color: rgba(0, 0, 0, .11);
        padding: 42px 0;
    }
}

.tarifs__card_price{
        padding-top: 30px;
        color: #FFF;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;

        &--active{
            padding-top: 14px;
            font-size: 82px;
        }
}

.tarifs__card_per{
    padding-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;

    &--active{
    padding-top: 16px;
    }
}
.tarifs__card_line{
    margin-top: 38px;
    width: 60px;
    height: 5px;
    background: $accent_color;

    &--active{
    margin-top: 46px;
    }
}

.tarifs__card_descr{
        margin-top: 36px;
        margin-bottom: 30px;
        min-height: 36px;
        width: 82%;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        &:first-child{
            line-height: 36px;
        }

        &--active{
        margin-top: 40px;
        margin-bottom: 82px;
        width: 60%;
        }
        
}
.tarifs_card_btn{
    margin-bottom: 36px;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 50px;
    width: 162px;
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;

    &--active{
        margin-bottom: 46px;
        width: 190px;
        padding: 18px;
        font-size: 16px;
    }
}
}
