.what-get__wrapper{
    padding: 0 10px;
    margin: 0 auto;
    .what-get__big-title{
       @include font_text($accent_color, 32px, 700, 38px);
       grid-area: title;
       text-align: center;
       margin-bottom: 36px;
       margin-top: 120px;
       &::before{
        content: "<";
       }
       &::after{
        content: '>';
       }
    }
    .what-get__cards{
        grid-area: cards;
    }
    .card__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
    }
    @media (min-width: 481px){
        .card__item{
            display: grid;
            grid-template-columns: 110px 1fr;
            column-gap: 20px
        }
        .card__text{
            text-align: left;
        }
    }
    .card__text--title{
        @include font_text($dark_text, 16px, 400, 16px);
        margin-top: 20px;
    }
    .card__text--descr{
        @include font_text($light_text, 14px, 400, 21px);
        margin-top: 20px;
    }
    .card__img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
        @media (min-width: 481px) {
            .card__img {
                justify-self: center;
                }
        }
    .what-get__cards--big_img{
        display: flex;
        justify-content: right;
        grid-area: bigimg;
        width: 100%;
        img{
            max-width: 700px;
            width: 100%;
            object-fit: contain;
        }
    }
}

 @media (min-width:993px) {
    .what-get__section{
        background-color: rgba(244, 244, 244, 1);
        padding-top: 94px;
    }
   
    .what-get__wrapper {
        max-width: 1220px;
        display: grid;
        grid-template-columns: 44% 56%;
        grid-template-areas: 
        "cards title"
        "cards bigimg";
        .what-get__big-title{
            font-size: 48px;
            margin-bottom: 18px;
            margin-top: 0;
    }
    }
}
