<section class="pricing__section">
    <div class="pricing__wrapper">
        <div class="pricing__title">
            <span>Fork Subscription Pricing</span>
        </div>
        <div class="pricing__tarifs">

            <div class="tarifs__card">
                <p class="tarifs__card_title">Students</p>
                <span class="tarifs__card_price">$29</span>
                <p class="tarifs__card_per">per month</p>
                <div class="tarifs__card_line"></div>
                <p class="tarifs__card_descr">Personal License</p>
                <button class="tarifs_card_btn">purchase</button>
            </div>

            <div class="tarifs__card">
                <p class="tarifs__card_title">professional</p>
                <span class="tarifs__card_price">$59</span>
                <p class="tarifs__card_per">per month</p>
                <div class="tarifs__card_line"></div>
                <p class="tarifs__card_descr">Professional License Email Support</p>
                <button class="tarifs_card_btn">purchase</button>
            </div>

            <div class="tarifs__card tarifs__card--active">
                <p class="tarifs__card_title tarifs__card_title--active">agency</p>
                <span class="tarifs__card_price tarifs__card_price--active">$99</span>
                <p class="tarifs__card_per tarifs__card_per--active">per month</p>
                <div class="tarifs__card_line tarifs__card_line--active"></div>
                <p class="tarifs__card_descr tarifs__card_descr--active">1-12 Team Members Phone Support</p>
                <button class="tarifs_card_btn tarifs_card_btn--active">purchase</button>
            </div>

            <div class="tarifs__card">
                <p class="tarifs__card_title">enterprise</p>
                <span class="tarifs__card_price">$159</span>
                <p class="tarifs__card_per">per month</p>
                <div class="tarifs__card_line"></div>
                <p class="tarifs__card_descr">Unlimited Team Members 24/ 7 Phone Support</p>
                <button class="tarifs_card_btn">purchase</button>
            </div>

        </div>
    </div>
</section>