<section class="revolutionary__section">
    <h2 class="revolutionary__title">Revolutionary editor</h2>
    <p class="revolutionary__descr">Aenean cursus imperdiet nisl id fermentum. <br> Aliquam pharetra dui laoreet
        vulputate
        dignissim. Sed id metus id quam
        auctor molestie eget ut augue.
    </p>

    <div class="revolutionary__block_buttons">

        <div class="block_buttons_btn">
            <a class="buttons_btn-btn"><img src="./img/revolutionary/eye.svg" alt="eye">
                <span>Watch</span></a>
            <a class="buttons_btn-count" href="#"><span>1,397</span></a>
        </div>

        <div class="block_buttons_btn">
            <a class="buttons_btn-btn"><img src="./img/revolutionary/star.svg" alt="star">
                <span>Star</span></a>
            <a class="buttons_btn-count" href="#"><span>21,038</span></a>
        </div>

        <div class="block_buttons_btn">
            <a class="buttons_btn-btn"><img src="./img/revolutionary/fork.svg" alt="fork">
                <span>Fork</span></a>
            <a class="buttons_btn-count" href="#"><span>4,391</span></a>
        </div>

    </div>
</section>