<section class="what-get__section">
    <div class="what-get__wrapper">

        <div class="what-get__big-title">
            Here is what you get
        </div>

        <div class="what-get__cards">

            <div class="card__item">
                <div class="card__img">
                    <img src="./img/what-you-get/icon1.png" alt="Creatred to Make The Web Better">
                </div>

                <div class="card__text">
                    <p class="card__text--title">Creatred to Make The Web Better</p>
                    <p class="card__text--descr">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
                        vulputate dignissim. Sed id
                        metus
                        id quam auctor
                        molestie eget ut augue.</p>
                </div>
            </div>

            <div class="card__item">
                <div class="card__img">
                    <img src="./img/what-you-get/icon2.png" alt="Incredibly Powerful Tool">
                </div>
                <div class="card__text">
                    <p class="card__text--title">Incredibly Powerful Tool</p>
                    <p class="card__text--descr">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
                        ut
                        volutpat massa placerat ac.
                        Curabitur dapibus
                        iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                </div>

            </div>

            <div class="card__item">
                <div class="card__img">
                    <img src="./img/what-you-get/icon3.png" alt="Experimental Stuff">
                </div>

                <div class="card__text">
                    <p class="card__text--title">Experimental Stuff</p>
                    <p class="card__text--descr">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
                        ut
                        volutpat massa placerat ac.
                        Curabitur dapibus
                        iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                </div>
            </div>

            <div class="card__item">
                <div class="card__img">
                    <img src="./img/what-you-get/icon4.png" alt="Creatred to Make The Web Better">
                </div>

                <div class="card__text">
                    <p class="card__text--title">Creatred to Make The Web Better</p>
                    <p class="card__text--descr">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
                        ut
                        volutpat massa placerat ac.
                        Curabitur dapibus
                        iaculis mi gravida luctus. Aliquam erat volutpat.
                    </p>
                </div>
            </div>


        </div>

        <div class="what-get__cards--big_img">
            <img src="./img/what-you-get/big.png" alt="Here is what you get">
        </div>
    </div>

</section>