body {
    min-width: 320px;
}
.header-section {
    background-color: #27262A;
    padding: 10px;

    
}
.top-nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 16px;

}
.logo-wrapper__link {
    .logo__text{
        display: none;
    }    
}
.logo_hover{
    display: none;
}
.buy-now_button {
    background-color: $accent_color;
    padding: 10px 25px;
    border-radius: 18px;
    @include font_text($the_lightest, 15px, 700, 15px);
    cursor: pointer;
}
.burger{
    position: relative;

    

}
.burger span {
    display: flex;
    background-color: $the_lightest;
    width: 26px;
    height: 3px;
    transform: scale(1);
    border-radius: 5px;
    position: relative;

}
.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 15px;
    background-color: $the_lightest;
    right: 0;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}
.burger::before{
    bottom: 9px;    
}
.burger::after {
    width: 26px;
    bottom: -9px;
}
.burger.active span {
    transform: scale(0);
}
.burger.active::before {
    width: 26px;
    transform: rotate(-50grad);
    bottom: 0px;
}
.burger.active::after {
    transform: rotate(50grad);
    bottom: 0;
}
.navigation_burger{
   position: relative;
   display: none;
}
.nav-menu {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 15px;

.nav-menu__item {
    min-width: 293px;
    @include font_text($the_lightest, 26px, 400, 26px);
    text-align: left;
    padding-left: 36px;
    padding-top: 29px;
    padding-bottom: 29px;
    background-color: #333333;
    border-bottom: 3px solid #3B3B3B;
    position: relative;
    &:active {
        color: $accent_color;
    }
    &:active::before {
        content: '';
        display: block;
        background-color: $accent_color;
        height: 53px;
        width: 8px;
        position: absolute;
        left: 2px;
        bottom: 15px;
    }
}}
.open{
    display: block;
}
.nav-menu_full-screen {
    display: none;
}
.hero-wrapper {
    padding: 10px;
    background: url(../img/background1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    position: relative;
}
.hero_title {
    @include font_text($the_lightest, 48px, 700, 48px);
    padding-top: 39px;
}
.hero__slogan {
    @include font_text($accent_color, 18px, 400, 24px);
    padding-top: 19px;
}
.hero__version {
    @include font_title($light_text, 14px, 400, 14px);
    padding-top: 14px;
    padding-bottom: 370px;
}
.hero_button {
    background-color: $accent_color;
    padding: 10px 25px;
    border-radius: 18px;
    @include font_text($the_lightest, 18px, 700, 18px);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    min-width: 290px;
    cursor: pointer;
}
.hero__under-text {
    @include font_text($light_text, 14px, 400, 14px);
    padding-top: 30px;
    text-align: center;
}
@media (min-width:481px) {
    .logo-wrapper__link {
            display: flex;
            align-items: center;
            gap: 17px;
    
            .logo__text {
                display: block;
                @include font_title($accent_color, 24px, 700, 16px)
            }
        }
    .nav-menu_full-screen {
        display: flex;
            gap: 47px;

        }
    .nav-menu_full-screen_list {
        display: flex;
        gap: 47px;
    }
    .top-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    .navigation_burger {
   
        display: none;
    }
    .burger {
        display: none;
    }
    .logo-wrapper {
        grid-area: 1/1/2/2;
        justify-self: start;
    }
    .buy-now_button {
        grid-area: 1/2/2/3;
        justify-self: end;     
    }
    .nav-menu_full-screen{
        grid-area: 2/1/3/3;
        padding-top: 23px;
        .nav-menu__item {            
            @include font_text($accent_color, 16px, 700, 18px)
        }
   
    }
}    
@media (min-width:993px) {
    .top-nav {
        max-width: 1180px;
    }
    .top-nav {
            display: grid;
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-rows: 1fr;
    
        }
    .hero-wrapper {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .logo-wrapper {
        
        grid-area: 1/1/2/2;
        justify-self: start;
    }
    .logo-wrapper__link {
        position: relative;
    }
    .logo_hover {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.5s;

    }
    .logo__text {
        transition: 0.5s;
    }
    .logo-wrapper__link:hover .logo_hover {
        opacity: 1;
    }
    .logo-wrapper__link:hover .logo__text {
        color: $the_lightest;
    }
    .nav-menu_full-screen {
        grid-area: 1/2/2/3;
        align-self: center;
        .nav-menu__item{
            transition: 0.5s;
            &:hover {
                color: $the_lightest;
            }
        }
    }
    .buy-now_button {
        grid-area: 1/3/2/4;
        justify-self: end;
        transition: 0.5s;
        &:hover {
            background-color: $the_lightest;
            color: $accent_color;
        }
    }
    .hero_button {
        transition: 0.5s;
        &:hover {
            background-color: $the_lightest;
            color: $accent_color;
        }
    }
}
