@import './base/reset.scss';
@import './settings/mixins.scss';
@import './settings/variables.scss';
@import './template/header';
@import './template/main';

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 340px;
}
